ignite/
activemq-data/
.idea/
target/
.classpath
.project
.classpath
.settings/
frontend/lasso-app/node_modules
frontend/lasso-app/node/node_modules
frontend/lasso-app/dist/
lasso-work
lasso_work
lasso_config
.DS_Store
lasso_crawler
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.scg

#IntelliJ
*.iml
/.idea/
